body {
    margin: 0;
    font: 14px "Century Gothic", sans-serif;
    color: #2c1a1a;
}

ol, ul {
    padding-left: 30px;
}

.btn-move {

}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__board {
    display: flex;
}

.game__num {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10% auto auto auto;
    background: #fff8f8;
    box-shadow: 0 0 7px rgba(232, 120, 120, 0.25);
    border-radius: 15px;
}

.game__num-form {
    display: block;
    width: 100%;
    max-width: 180px;
    height: 40px;
    font-size: 30px;
}

.game__num-text {
    margin: 0 auto 25px 0;
    font-size: 24px;
    text-align: center;
}

.game__create-btn {
    margin-top: 25px;
    width: 100%;
    max-width: 240px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8bdbd;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(229, 143, 143, 0.25);
    color: #4b2d2d;
}

.game-info {
    margin-left: 50px;
}